.custom-checkbox input[type="checkbox"] {
    width: 150px !important; /* Breite */
    height: 150px !important; /* Höhe */
    min-width: 150px;       /* Sicherstellen, dass keine Standardwerte überschreiben */
    min-height: 150px;
}

.custom-checkbox {
    display: inline-flex;
    align-items: center;
}


